.graywrap{
    background-color: whitesmoke;
    height: inherit;
}

.col-cont1{
    height: 100vh;
    padding-right: 0px;
    background-color: whitesmoke
}
.col-cont2{
    height: 100vh;
    padding-left: 0px
}
.buttonWrap{

    position: relative;
    top:150px
}
.signup{
    display: block;
    text-align: center;
    position: relative;
    top: 250px
}
.signup a{
    color: blue
}